html {
    font-size: 16px;
    font-family: Arial;
    background-color: #FDF2E6;
    display: block;
    line-height: 1.5;
  }
  
  
  
  em {
    font-size: 1.1em
  }
  
  body {
    display: block;
    margin: 8px;
  }
  #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #0c4e96;
  
  }
  nav {
    display: block;
  }
  
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.9em;
  }
  
  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  
  }
  
  #navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    border-color: #0c4e96;
  }
  
  li {
    display: list-item;
  
  }
  
  #navbar a {
    display: block;
    padding: 30px 30px;
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 310px;
    margin-right: 30px;
    width: auto;
  }
  
  main header {
  
    text-align: left;
    margin-left: -5px
  }
  
  h3 {
    font-weight: bold;
    font-style: 
  }
  
  code {
    font-family: arial;
  }
  
  nav header {
    text-align: left;
    margin-left: 25px;
    letter-spacing: 1px;
  }
  
  #win::after {
    content: "(in)";
    color: black;
    font-size: .3em;
    position: absolute;
    top: 42px;
    left: 47px
    
  }
  
  #pyth::after {
    content: "(yth)";
    color: black;
    font-size: .3em;
    position: absolute;
    top: 42px;
    margin: 0;
    left: 168px;
  }
  
  @media (min-width: 10000px) {
    body {
      width: 100%;
    }
  }